 
 
 <!-- <div class="container-fluid"> -->
   <div class="col-md-8 offset-md-2">
      <div class="row"><p></p><br></div>
      <div class="row">
          <div id="header" class="col-lg-12">
            <nav id="nav">
              <ul>
                <li><img src="https://cdn.freebiesupply.com/logos/large/2x/angular-3-logo-png-transparent.png" alt="Logo" height="100"></li>
                <li><a routerLink="/home" routerLinkActive="cool">
                  <i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
              </ul>
            </nav>
        </div>
    </div>
    
  
    <!-- <div class="container"> -->
      <div class="row">
        <p></p> <br>
        <div class="col-md-12"><br>
            <router-outlet></router-outlet>
        </div>
      </div>
    <!-- </div> -->
 
  </div>


