/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';
// @import '../../node_modules/';

#header {
    background: transparent; // #1e7e34; // #2f557f; // #e03137;
    margin:0px;
    // height: 65px;
    box-shadow: 0 -1px 4px 1px #cfcfce;
}
.pull-rigth-login {
    position: relative;
    margin-left: 73%;
    // text-align: right !important;
}
.pull-rigth-logout {
    position: relative;
    margin-left: 37%;
}
img {
    top: -8px;
    position: relative;
}

// .foother{
//     background-color: #125822;
//     color: white;
//     // opacity: .5;
// }
#nav {
    margin: 0px;
    padding: 0px;
    margin: 0px;
    /* background: #eeee; */
}
#nav ul li {
    float: left;
    margin-right: 1.5rem;
    list-style: none;
    /* color:white; */
}
li {
    color: white;
    // font-size: 1.2em;
    margin-bottom: 3px;
    /* list-style: none; */
    /* text-underline: none; */
    /* text-decoration: aqua; */
    /* text-decoration-line: underline; */
}
// li:hover {
//     box-shadow: inset 0 -3px 0 0 cyan; 
// }

a {
    color: white;
    text-decoration: none;
}
.cool {
    display: inline-block;
    // color: white;
    border-bottom: 4px solid white;
    transition: border-bottom .2s;
}
a:hover {
    color: white;
    transition: text-decoration .3s;
}

// .cool::after {
//     content: '';
//     display: block;
//     width: 0;
//     height: 2px;
//     background: cyan;
//     transition: width .3s;
// }

// .cool:hover::after {
//     width: 100%;
// }

.content-popover {
    width: max-content !important;
}
// .hidd {
//     display: none;
// }
.list-group {
    padding: 0.7rem 1.5rem;
}
.a-text {
    font-size: 1.1rem !important;
}
.a-text:hover {
    text-decoration: underline #1976d2 !important;
}
